In [4]:
import pandas as pd 

hpd_nyc = pd.read_csv('../nyc_data.csv')
hpd_nyc.head()

,project_id,project_name,program_group,project_start_date,project_completion_date,extended_affordability_status,prevailing_wage_status,extremely_low_income_units,very_low_income,low_income_units,moderate_income,middle_income,other,counted_rental_units,counted_homeownership_units,all_counted_units,total_units,senior_units,planned_tax_benefit
0,60912,CONFIDENTIAL,Confidential,2016-04-29T00:00:00.000,2016-04-29T00:00:00.000,No,Non Prevailing Wage,0,0,1,0,0,0,0,1,1,1,0,NaN
1,60914,CONFIDENTIAL,Confidential,2016-04-18T00:00:00.000,2016-04-18T00:00:00.000,No,Non Prevailing Wage,0,0,1,0,0,0,0,1,1,1,0,NaN
2,60917,CONFIDENTIAL,Confidential,2016-04-19T00:00:00.000,2016-04-19T00:00:00.000,No,Non Prevailing Wage,0,0,1,0,0,0,0,1,1,1,0,NaN
3,60919,CONFIDENTIAL,Confidential,2016-04-26T00:00:00.000,2016-04-26T00:00:00.000,No,Non Prevailing Wage,0,0,1,0,0,0,0,1,1,1,0,NaN
4,60963,FAC. 6309 FOURTH AVENUE,Multifamily Finance Program,2019-11-26T00:00:00.000,2023-04-18T00:00:00.000,No,Prevailing Wage,83,0,0,0,0,1,84,0,84,84,83,420c

In [5]:
hpd_nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3634 entries, 0 to 3633
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   project_id                     3634 non-null   int64
 1   project_name                   3634 non-null   object
 2   program_group                  3634 non-null   object
 3   project_start_date             3634 non-null   object
 4   project_completion_date        2660 non-null   object
 5   extended_affordability_status  3634 non-null   object
 6   prevailing_wage_status         3634 non-null   object
 7   extremely_low_income_units     3634 non-null   int64
 8   very_low_income                3634 non-null   int64
 9   low_income_units               3634 non-null   int64
 10  moderate_income                3634 non-null   int64
 11  middle_income                  3634 non-null   int64
 12  other                          3634 non-null   int64
 13  counted_rental_units           3634 non-null   int64
 14  counted_homeownership_units    3634 non-null   int64
 15  all_counted_units              3634 non-null   int64
 16  total_units                    3634 non-null   int64
 17  senior_units                   3634 non-null   int64
 18  planned_tax_benefit            2478 non-null   object
dtypes: int64(12), object(7)
memory usage: 539.6+ KB

In [6]:
hpd_nyc.describe()

,project_id,extremely_low_income_units,very_low_income,low_income_units,moderate_income,middle_income,other,counted_rental_units,counted_homeownership_units,all_counted_units,total_units,senior_units
count,3634.000000,3634.000000,3634.000000,3634.000000,3634.000000,3634.000000,3634.000000,3634.000000,3634.000000,3634.000000,3634.000000,3634.000000
mean,70150.063566,9.285360,16.686296,15.976059,3.263897,6.781783,0.207760,39.446340,12.754816,52.201156,74.047606,3.908641
std,3655.044438,36.481356,225.380706,98.501496,24.093096,23.985613,0.672724,140.559754,284.076631,315.367743,326.370406,21.384991
min,60912.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,67748.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000
50%,70539.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,6.000000,16.000000,0.000000
75%,73220.750000,0.000000,0.000000,2.000000,0.000000,5.000000,0.000000,28.000000,1.000000,33.000000,61.000000,0.000000
max,75733.000000,572.000000,11413.000000,3959.000000,542.000000,455.000000,11.000000,5881.000000,15372.000000,15372.000000,15372.000000,291.000000